/** ---------- RESET----------*/

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

/** -----HEADER----- */
header .menu {
    background-color: #EBE4D1;
    color: #E55604;
    font-size: 20px;
    padding: 10px;
}

header .menu:hover {
    color: #26577C;
}

header .menu div .barra {
    color: #E55604;
    padding: 10px;
    margin: 5px;
    transition: 1s;
}

header .menu div .barra:hover {
    background-color: #E55604;
    color: #EBE4D1;
    border-radius: 4px;
    transform: scale(1.1);
}

header nav div a img {
    width: 435px;
    height: 110px;
    object-fit: cover;
    transition: 1s;
}

header nav div a img:hover {
    transform: scale(1.1);
}


/** ----- MAIN ----*/
.fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E55604;
    width: 100%;
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.767)), url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo div h1 {
    color: #EBE4D1;
}

.fondo div a {
    text-decoration: none;
    color: #EBE4D1;
    transition: 1s;
}

.fondo div a:hover {
    color: #E55604;
    transform: scale(1.2);
}

.fondo div h2 {
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    padding: 5px;
}

.productos {
    background-color: #E55604;
    padding: 3px;
    text-align: center;
    color: #EBE4D1;

}


.ceramica {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    gap: 30px;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-between;
}

.ceramica .card {
    transition: 1s;
}

.ceramica .card:hover {
    transform: scale(1.1);
    box-shadow: 19px 24px 22px -5px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 19px 24px 22px -5px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 19px 24px 22px -5px rgba(0, 0, 0, 0.73);
}

.ceramica div a {
    color: #EBE4D1;
    background-color: #E55604;
    border: transparent;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
}

.ceramica div a:hover {
    color: #E55604;
    background-color: #EBE4D1;
    transform: scale(1.2);
}

.nosotros {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.nosotros div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nosotros img {
    width: 400px;
    height: 400px;
}

.nosotros p {
    padding: 10px;
    font-size: 25px;
    color: #E55604;
}


.contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E55604;
    color: #EBE4D1;
}

.contactos h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
    background-color: #E55604;

}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBE4D1;
    padding: 20px;
}

.formulario h3 {
    font-size: 35px;
    text-align: center;
    color: #26577C;
    margin: 25px;
}

.formulario input {
    margin: 10px;
    width: 70%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #E55604;
}

.formulario input::placeholder {
    color: #e55604a6;
}

.formulario textarea {
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #E55604;
}

.formulario textarea::placeholder {
    color: #e55604a6;
}

.formulario .boton {
    background-color: #E55604;
    color: #EBE4D1;
    font-size: 26px;
    margin: 5px;
    width: 200px;
    border-radius: 10px;
}

footer {
    display: flex;
    background-color: #26577C;
    flex-direction: column;
    color: #EBE4D1;
}

footer .pie {
    margin: 10px;
    font-size: 35px;
}

footer div {
    margin: 10px;
}

footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes a {
    transition: 1s;
}

footer .redes a:hover {
    transform: scale(1.2);
}

footer div ul li {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    list-style: none;
}

footer div ul li i {
    margin: 5px;
    font-size: 35px;
}

footer div a {
    margin: 10px;
}

footer div a i {
    font-size: 50px;
    color: #EBE4D1;
}

footer div a i:hover {
    color: #E55604;
}


/** ----- responsive -----*/


@media screen and (max-width:1050px) {
    .fondo {
        background-attachment: local;
    }

    header .menu .lateral .barra {
        font-size: 17px;
        flex-wrap: inherit;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}


@media screen and (max-width:995px) {
    header .menu .lateral {
        flex-wrap: inherit;
        align-items: flex-start;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
    }

}


@media screen and (max-width:650px) {
    .fondo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.767)), url(../img/fondo.png);
    }

    .fondo h1 {
        font-size: 25px;
    }

    .fondo h2 {
        font-size: 25px;
    }

    .fondo div a:hover {
        color: #26577C;
    }

    header .menu .lateral {
        flex-direction: column;
        flex-wrap: inherit;
        align-items: flex-start;
        align-content: flex-start;
    }
}

@media screen and (max-width:515px) {
    .fondo h1 {
        font-size: 20px;
    }

    .fondo h2 {
        font-size: 20px;
    }

    .fondo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.767)), url(../img/fondo-3.png);
    }

    .fondo div a:hover {
        color: #E55604;
    }

    header nav div a img {
        width: 360px;
        height: 90px;
    }
}

@media screen and (max-width:420px) {
    .fondo h1 {
        font-size: 17px;
    }

    .fondo h2 {
        font-size: 17px;
    }

    header nav div a img {
        width: 330px;
        height: 75px;
    }


    .ceramica {
        margin: 3px;
        padding: 31px;
    }
}

@media screen and (max-width:375px) {
    header nav div a img {
        width: 315px;
    }
}