/** ---------- RESET----------*/

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

/** -----HEADER----- */

.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 165px;
    background-color: #EBE4D1;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

header section img{
    width: 450px;
    height: 110px;
    object-fit: cover;
}

header nav ul{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

header nav ul li{   
    list-style: none;
    padding: 10px;
    margin: 5px;
}

header nav ul li a{
    text-decoration:none;
    color:#E55604;
}

.hero nav ul li:hover a{
    background-color: #E55604;
    color: #EBE4D1;
    padding: 10px
}




/** ----- MAIN ----*/
.fondo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#E55604;
    width: 100%;
    height: 620px;
    background-image: url(../img/fondo.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo div a{
    text-decoration: none;
    color: #E55604;
}

.fondo div h2{
    display: flex;
    justify-content: center;
}

.productos{
    background-color: #E55604;
    padding: 3px;
    text-align: center;
    color: #EBE4D1;
    
}

.ceramica{
    width: 99%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 350px;
    grid-template-areas:
    "canasta plato bob"
    "chopp emojic emojic"
    "chopp cactus stich"
    "spider patitas patitas"
    ;
    gap: 15px;
    margin: 10px;
}

.ceramica div{
    position: relative;
}
.ceramica div h3{
    position: absolute;
    bottom: -8px;
    color: #EBE4D1;
    background-color: #E55604;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.img-1{
    grid-area: canasta;
}

.img-2{
    grid-area: plato;
}

.img-3{
    grid-area: bob;
}

.img-4{
    grid-area: chopp;
}

.img-5{
    grid-area: emojic;
}

.img-6{
    grid-area: cactus;
}

.img-7{
    grid-area: stich;
}

.img-8{
    grid-area: spider;
}

.img-9{
    grid-area: patitas;
}

.ceramica div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    display: flex;
    background-color: #26577C;
    flex-direction: column; 
    color: #EBE4D1;
}

footer .pie{
    margin: 10px;
    font-size: 35px;
}
footer div{
    margin: 10px;
}

footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

footer div ul li{
    margin: 5px;
    padding: 5px;
list-style: none;
}

footer div a{
    margin: 10px;
}


.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E55604;
    color: #EBE4D1;
}

.contactos h2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
    background-color: #E55604;
    
}


.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.formulario h3{
    font-size: 35px;
    text-align: center;
    color: #26577C;
    margin: 25px;
}
.formulario input{
    margin: 10px;
    width: 50%;
    height: 40px;
}

.formulario textarea{
    width: 50%;
}

.boton{
    background-color: #EBE4D1;
    border: none;
    color: #26577C;
    font-size: 23px;
    margin: 5px;
}

/** ----- responsive -----*/

@media screen and(max-width:1190px){
    .ceramica{
        width: 99%;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-auto-rows: 350px;
        grid-template-areas:
        "canasta plato bob"
        "chopp emojic emojic"
        "chopp cactus stich"
        "spider patitas patitas"
        ;
        gap: 15px;
        margin: 10px;
    }
}