/** ---------- HEADER----------*/
header {
	nav {
		.nav-bar {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;
			position: relative;
			background-color: $color-primario;
			padding: 12px 20px;
            margin: 0;
			img {
				width: 120px;
			}
			.menu {
				display: flex;
				font-size: nth($size, 5 );
				li {
					padding-left: 30px;
					a {
						display: inline-block;
						text-decoration: none;
						text-align: center;
						transition: 0.15s ease-in-out;
						position: relative;
						text-transform: uppercase;
						color: $color-secundario;
						padding: 5px;
						&::after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0;
							height: 2px;
							background-color: $color-secundario;
							transition: 0.15s ease-in-out;
						}
						&:hover {
							&:after {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
.abrir-menu {
	position: absolute;
	color: $color-secundario;
	cursor: pointer;
	font-size: 1.5rem;
	display: none;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.cerrar-menu {
	position: absolute;
	color: $color-secundario;
	cursor: pointer;
	font-size: 1.5rem;
	display: none;
	top: 20px;
	right: 20px;
}
#check {
	display: none;
}