/*----MEDIA QUERIES-----*/
@media screen and (max-width:1200px){
.nosotros{
    div{
        p{
            font-size: nth($size ,5 );
        }
    }
}
}

@media screen and (max-width:1150px) {
    .nosotros {
        div {
            flex-direction: column;
            align-items: center;
        }
    }

    .nosotros {
        div {
            img {
                width: 600px;
                height: 600px;
            }
            p{
                font-size:nth($size ,3 );
            }
        }

    }
}

@media screen and (max-width:1050px) {
    .fondo {
        background-attachment: local;
    }

    header {
        .menu {
            .lateral {
                .barra {
                    font-size: nht($size, 4);
                    flex-wrap: inherit;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                }
            }
        }
    }
}

@media screen and (max-width:995px) {
    header {
        .menu {
            div {
                flex-wrap: inherit;
                align-items: flex-start;
                flex-direction: column;
                align-content: flex-start;
                justify-content: flex-start;
            }
        }
    }
}

@media screen and (max-width:835px) {
	.menu {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 100;
		background-color: $color-primario;
		transition: all 0.2s ease-in-out;
		li {
			margin-top: 40px;
			a {
				padding: 10px;
			}
		}
	}
	.abrir-menu {
		display: block;
	}
	.cerrar-menu {
		display: block;
	}
	#check {
		&:checked {
			~ {
				.menu {
					right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 780px) {
    .medios {
        h3 {
            font-size: nth($size, 3);
        }
    }

    .envios {
        h4 {
            font-size: nth($size, 2);
        }
    }

    footer {
        .contacto {
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3 {
                padding: 8px;
            }

            h4 {
                padding: 8px;
            }
        }
    }
}

@media screen and (max-width:650px) {
    .fondo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.767)), url(../img/fondo.png);
    }

    .fondo {
        div {
            h1 {
                font-size: nth($size, 3);
            }
        }
    }

    .fondo {
        div {
            a {
                h2 {
                    font-size: nth($size, 3);
                }
            }
        }
    }

    .fondo {
        div {
            a {
                &:hover {
                    color: #26577C;
                }
            }
        }
    }

    header {
        .menu {
            .div {
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    .envios {
        background-attachment: initial;
    }

    .nosotros {
        div {
            img {
                width: 390px;
                height: 390px;
            }
        }
    }

    .nosotros {
        div {
            p {
                font-size: nth($size, 4);
            }
        }
    }

    .mapa {
        iframe {
            width: 500px;
        }
    }
}

@media screen and (max-width:525px) {
    .fondo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.767)), url(../img/fondo-3.png);
    }

    .fondo {
        div {
            h1 {
                font-size: nth($size, 4);
            }
        }
    }

    .fondo {
        div {
            a {
                h2 {
                    font-size: nth($size, 4);
                }
            }
        }
    }

    .fondo {
        div {
            a {
                &:hover {
                    color: $color-secundario;
                }
            }
        }
    }

    header {
        .menu {
            .lateral {
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-direction: column;
            }
        }
    }

    header {
        nav {
            a {
                img {
                    width: 360px;
                    height: 90px;
                }
            }
        }
    }

    .nosotros {
        h3 {
            font-size: nth($size, 4);
        }
    }

    .nosotros {
        div {
            p {
                font-size: nth($size, 6);
            }
        }
    }

    .envios {
        h4 {
            font-size: nth($size, 3);
        }
    }

    footer {
        .contacto {
            h4 {
                font-size: nth($size, 3);
            }
        }
    }

    .mapa {
        iframe {
            width: 400px;
        }
    }
}

@media screen and (max-width:450px) {
    footer {
        .contacto {
            h3 {
                font-size: nth($size, 3);
            }

            h4 {
                font-size: nth($size, 4);
            }
        }
    }

    footer {
        .mapa {
            h3 {
                font-size: nth($size, 2);
            }

            iframe {
                width: 320px;
            }
        }
    }
}

@media screen and (max-width:420px) {
    .fondo {
        div {
            h1 {
                font-size: nth($size, 5);
            }
        }
    }

    .fondo {
        div {
            a {
                h2 {
                    font-size: nth($size, 5);
                }
            }
        }
    }

    header {
        nav {
            .menu {
                a {
                    img {
                        width: 330px;
                        height: 75px;
                    }
                }
            }
        }
    }

    .ceramica {
        margin: 3px;
        padding: 31px;
    }

    .nosotros {
        div {
            img {
                width: 320px;
                height: 320px;
            }
        }
    }

    .nosotros {
        div {
            p {
                font-size: nth($size, 6);
            }
        }
    }

    footer {
        .mapa {
            h3 {
                font-size: nth($size, 3);
            }

            iframe {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width:375px) {
    header {
        .menu {
            div {
                a {
                    img {
                        width: 315px;
                    }
                }
            }
        }
    }
}